body {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   background-color: rgb(171, 171, 238);
}
#calculator {
   width: 23em;
   height: 28.5em;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}
